<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<%@ Register Assembly="FlashControl" Namespace="Bewise.Web.UI.WebControls" TagPrefix="Bewise" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>MBS OPAC</title>
<script language="javascript" type="text/javascript">
<!--


function TABLE1_onclick() {

}



// -->
</script>
</head>
<body bgcolor="#360233">
    <form id="form1" runat="server">
    <div style="text-align: center; background-color: #360233;">
        <br />
        <br />
        <asp:Image ID="Image1" runat="server" ImageUrl="~/MBSBanner.JPG" Width="85%" /><br />
        <br />
        <br />
        <br />
        <table>
            <tr>
                <td bgcolor="#fff8ec" style="width: 515px; text-align: center">
                    <br />
                    <center>
                    <table width="90%">
                        <tr>
                            <td valign="middle">
                                <Bewise:FlashControl ID="FlashControl3" runat="server" Height="90px" MovieUrl="~/butt3b.swf"
                                    Width="90px" SwLiveConnect="True" />
                            </td>
                            <td valign="middle">
                                <Bewise:FlashControl ID="FlashControl1" runat="server" Height="90px" MovieUrl="~/butt1b.swf"
                                    Width="90px" />
                            </td>
                            <td valign="middle">
                                <Bewise:FlashControl ID="FlashControl4" runat="server" Height="90px" MovieUrl="~/butt4b.swf"
                                    Width="90px" />
                            </td>
                            <td valign="middle">
                                <Bewise:FlashControl ID="FlashControl2" runat="server" Height="90px" MovieUrl="~/butt2b.swf"
                                    Width="90px" />
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 21px; text-align: center" valign="top">
                                <span style="font-family: Garamond"><strong>Guest Login<br />
                                </strong></span>
                            </td>
                            <td style="height: 21px" valign="top">
                                <span style="font-family: Garamond"><strong>Student Login<br />
                                </strong></span>
                            </td>
                            <td style="height: 21px" valign="top">
                                <span style="font-family: Garamond"><strong>Admin Login<br />
                                </strong></span>
                            </td>
                            <td style="height: 21px" valign="top">
                                <span style="font-family: Garamond"><strong>Help<br />
                                </strong></span>
                            </td>
                        </tr>
                    </table>
                    </center>
                    <br />
                </td>
            </tr>
        </table>
        <br />
        <br />
        </div>
    </form>
</body>
</html>
