<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FlashMainGuest.aspx.cs" Inherits="FlashMainGuest" %>

<%@ Register Assembly="FlashControl" Namespace="Bewise.Web.UI.WebControls" TagPrefix="Bewise" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>MBS OPAC</title>
</head>
<body bgcolor="#000000" style="text-align: center">
    <form id="form1" runat="server">
    <div>
        <Bewise:FlashControl ID="FlashControl1" runat="server" Height="100%" MovieUrl="~/opac_final_guest01.swf"
            Width="100%" />
    
    </div>
    </form>
</body>
</html>
